<br>
  <h3 id="header" style="text-align:center">New Journal Entry</h3>
<br>

<!-- <a href="#" class="tip">Link<span>This is the CSS tooltip showing up when you mouse over the link</span></a> -->
<div class="container entry-form active">
  <div class="row">
    <div class="col-md-2 emotion-select">
      <div class="row">
        <div class="col-md-1">
          <br>
        </div>
        <br>
        <div class="col-md-10 emotions">
          <div class="emotion-container">

            <% current_user.emotion_prototypes.each do |emotion| %>
              <% name = emotion.name %>
              <div class="<%=name%>">
                <p><a href="#", class="description"><span><strong><%= "#{name.capitalize}: "%></strong><%=" #{emotion.description}" %></span>?</a><span style="padding-left: 1em"></span><%= name.capitalize %></p>
                <input style="background-color:<%= emotion.color %>" class="slider <%=name%>-slide" type="range" name="<%=name%>" min="0" max="10" value="0"><br>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <%= form_for(@entry, html:{autocomplete:"off"}) do |f| %>
      <div class="form-group">
        <%= f.text_field :tag, id: "tag", value: "Tag your post with a descriptive title" %>
        <%= f.text_area :body, value: "New Entry" %>
      </div>
      <% end %>
      <div class="user" name="<%= @entry.user.id %>">
      </div>
    </div>
  </div>
</div>

<div class="footer2">
  <div id="new-entry-main-button" class="send-entry">
    <a href="#" class="btn btn-default submit-entry">Submit Entry</a>
  </div>
</div>
