<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
  $( "#datepicker1" ).datepicker();
  $( "#datepicker2" ).datepicker();
});
</script>

<div class="" style="min-height: 2em">
</div>
<div class="container datepicks">
  <div class="">
    <br>
  </div>
  <form action="plot" style="text-align: center">
    <h4>Scope your journal entries: What time range would you like to see?</h4>
    <span>
      <input type="text" class="datepicker" id="datepicker1" name="start_date" placeholder="Start Date">
    </span>
    <span>&nbsp;</span>
    <span>
      <input type="text" class="datepicker" id="datepicker2" name="end_date" placeholder="End Date">
    </span>
    <span>|||  <input type="submit" value="Send" class="datepickerbutton"></span>
  </form>
  <div class="">
    <br>
  </div>
</div>
<div class="" style="min-height: 2em">
</div>

<div class="container form-entry">
  <%= high_chart("some_id", @chart) %>
</div>

<div class="" style="min-height: 2em">
</div>

<div class="container">
  <div class="container datepicks">
    <div class="">
      <br>
    </div>
    <%= form_for :emotions, url: "/dashboard/plot", method: :get do |f|  %>
      <h4 style="text-align: center">
        Search for similar journal entries:  How many days back and which emotions would you like to compare?
      </h4>
      <div style="text-align: center">
        <% current_user.active_emotion_prototypes.each do |emp| %>
          <%= f.label "#{emp.name.capitalize}" %>:
          <%= f.check_box "#{emp.name}" %> &nbsp;&nbsp;
        <% end %>
        <br>
        <%= f.number_field "days", class: "datepicker", placeholder:"Days back" %> |||
        <%= f.submit "Send", class: "datepicker" %>
      </div>
      <br>
    <% end %>
    <div class="">
      <br>
    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= high_chart("some_other_id", @chart2) if @chart2 %>
    </div>
    <div class="col-md-6">
      <%= high_chart("somethird", @chart3) if @chart3 %>
    </div>
  </div>
</div>



<br>
