<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
  $( "#datepicker1" ).datepicker();
  $( "#datepicker2" ).datepicker();
});
</script>

<div class="" style="min-height: 2em">
</div>
<div class="container datepicks">
  <div class="">
    <br>
  </div>
  <form action="plot" style="text-align: center">
    <span>
      Start Date: <input type="text" class="datepicker" id="datepicker1" name="start_date">
    </span>
    <span>
      End Date: <input type="text" class="datepicker" id="datepicker2" name="end_date">
    </span>
    <span>|||  <input type="submit" value="Send" class="datepickerbutton"></span>
  </form>
  <div class="">
    <br>
  </div>
</div>
<div class="" style="min-height: 2em">
</div>

<div class="container form-entry">
  <%= high_chart("some_id", @chart) %>
</div>

<div class="" style="min-height: 2em">
</div>

<div class="container">
  <div class="container datepicks">
    <div class="">
      <br>
    </div>
    <%= form_for :emotions, url: "/dashboard/plot", method: :get do |f|  %>
      Find journal entries similar to recent ones: Give a number of days for a range for comparison, and emotion(s) to compare.
      <% current_user.active_emotion_prototypes.each do |emp| %>
        <%= f.label "#{emp.name.capitalize}" %>
        <%= f.check_box "#{emp.name}" %>
      <% end %>
      <br>
      <%= f.number_field "days", class: "datepicker" %>
      <%= f.label "days back" %>

      <%= f.submit "Submit" %>
    <% end %>
    <div class="">
      <br>
    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= high_chart("some_other_id", @chart2) if @chart2 %>
    </div>
    <div class="col-md-6">
      <%= high_chart("somethird", @chart3) if @chart3 %>
    </div>
  </div>
</div>



<br>
